body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}


.logo{
    width: 200px;
}

a{
    text-decoration: none;
    color: blue;
}

.header{
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}